html {
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#wrap {
    width: 320px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F6F6F6;
    padding: 5px;
    border: 1px solid gray;
}

#controlsBar {
    margin: 0 5px 5px;
}

#exitButton {
    display: block;
    float: right;
}

#exitButton img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

#loginContainer {

}

.authForm label {
    font: 12px arial,sans-serif;
    display: block;
    margin: 0.5em 10px;
    font-weight: 600;
}

.authForm input[type="text"],.authForm input[type="password"] {
    font: 17px arial,sans-serif;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    padding: 5px;
    width: 310px;
}

.authForm input[type="button"] {
    margin: 5px;
}

.authForm .buttonContainer {
    text-align: center;
}

#listContainer #userList .userInfo {
    padding: 10px;
    font-size: 14px;
    background-color: transparent;
    border-top: 1px solid lightgray;
}

.jumpBlock {
    background-color: #88ff88;
}

.jumpBlock>div {
    padding: 5px;
}

.jumpBlock .timer {
    float: left;
    box-sizing: border-box;
    height: 30px;
}

.jumpBlock .timer:before {  content: "[";  }
.jumpBlock .timer:after {  content: "]";  }

.jumpBlock .info {
    font-style: italic;
    float: left;
    box-sizing: border-box;
    height: 30px;
}

.jumpBlock .joinBtn {
    box-sizing: border-box;
    height: 22px;
    margin: 4px;
}